body,
html {
  font-family: "Shadows Into Light", cursive;
  font-weight: bold;
  height: 100%;
  margin: 0;
  text-transform: capitalize;
  width: 100%;
}
.container {
  background-color: #e8dcdf;
  background-size: cover; /* is this actually necessary?*/
}
.frame {
  background-image: url(../media/cover.gif);
  background-position: bottom; /* Why bottom? If you remove, it looks a bit better on iPad Pro*/
  background-repeat: no-repeat;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  max-width: 450px;
  margin: 0 auto;
}
.fixed-bottom {
  max-width: 500px;
  margin: 0 auto;
  padding: 10px;
  display: none;
}
.github {
  display: block;
  color: black;
  position: fixed;
  bottom: 0%;
}
.github:hover {
  color: #e29488;
}
.header {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 100%;
}
