.drawerBtn {
  background-color: transparent;
  border: none;
  border-bottom: 3px solid black;
  position: fixed;
  bottom: 10px;
  font-size: 24px;
  color: black;
  cursor: pointer;
  width: 20%;
}
.drawerBtn:focus {
  outline: none;
}
.drawerWrapper {
  display: flex;
  justify-content: center;
}
/* Hack to make sure the children (external component)  is only shown inside the Drawer*/
.Drawer > div > div:nth-child(2) {
  font-size: 22px;
  left: auto;
  max-width: 450px;
}
.Drawer > div {
  display: flex;
  justify-content: center;
}
