.drawerBtn {
  background-color: transparent;
  border: none;
  position: fixed;
  bottom: 10px;
  font-size: 30px;
  color: black;
  cursor: pointer;
  width: 20%;
  animation: jump 1s infinite ease-in-out 3s;
}
.drawerBtn:focus {
  outline: none;
}
.drawerWrapper {
  display: flex;
  justify-content: center;
}
/* Hack to make sure the children (external component)  is only shown inside the Drawer*/
.Drawer > div > div:nth-child(2) {
  font-size: 22px;
  left: auto;
  max-width: 450px;
}
/*iPad and iPad  Pro view*/
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .Drawer > div > div:nth-child(2) {
    max-width: 100%;
  }
}
.Drawer > div {
  display: flex;
  justify-content: center;
}
@keyframes jump {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-4px);
  }
  100% {
    transform: translateY(0);
  }
}
