.error {
  font-size: 14px;
  margin-left: 20px;
}
.search {
  display: grid;
  grid-column: 1/2;
  grid-row: 1/2;
}
.searchBox {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-family: "Shadows Into Light", cursive;
  line-height: 1.5;
  margin-top: 10px;
  margin-left: 10px;
  max-width: 75%;
  padding: 10px;
  font-size: 18px;
}
.searchBox::placeholder {
  font-size: 18px;
  font-weight: bold;
  color: black;
}
.pin {
  cursor: pointer;
  font-size: 18px;
}
