body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: "Thasadith", sans-serif;
  text-transform: capitalize;
  font-weight: bold;
}

.container {
  background-image: url(media/cover2.jpg);
  background-size: cover;
}

.frame {
  background-image: url(media/background.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0px 5px 10px 4px #4ea8dd;
  max-width: 450px;
  margin: 0 auto;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}
.header {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 100%;
}
.search {
  display: grid;
  grid-column: 1/2;
  grid-row: 1/2;
}
.current-weather {
  display: grid;
  grid-column: 2/3;
  grid-row: 1/2;
}
.drawer {
  align-self: end;
}

.Drawer > div > div:nth-child(2) {
  max-width: 450px;
  left: auto;
}

.Drawer > div {
  display: flex;
  justify-content: center;
}
