.drawerBtn {
  background-color: transparent;
  border: none;
  border-top: 5px solid whitesmoke;
  position: fixed;
  bottom: 2px;
  width: 20%;
  font-size: 14px;
  color: whitesmoke;
  cursor: pointer;
}
.drawerBtn:focus {
  outline: none;
}
.drawerWrapper {
  display: flex;
  justify-content: center;
}
