.liveWeather {
  color: antiquewhite;
  line-height: 1;
  margin-right: 20px;
}
.liveWeather > * {
  text-align: right;
}
.temperature {
  font-size: 74px;
  margin-top: 0%;
  margin-bottom: 0%;
}
.degree {
  font-size: 16px;
  position: relative;
  top: -40px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: whitesmoke;
}
.degree:focus {
  outline: none;
}
.divider {
  position: relative;
  top: -40px;
  font-size: 16px;
}
.extraInfo {
  font-size: 16px;
}
.city {
  margin-bottom: 0%;
}
.description {
  margin-bottom: 10px;
  margin-top: 10px;
}
.timeDate {
  font-size: 14px;
}
.color {
  color: #ff7924;
}
