.liveWeather {
  color: black;
  line-height: 1;
  margin-right: 20px;
}
.liveWeather > * {
  text-align: right;
}
.temperature {
  font-size: 74px;
  margin-top: 0%;
  margin-bottom: 0%;
}
.degree {
  font-size: 18px;
  position: relative;
  top: -40px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: black;
  padding: 3px;
  font-family: "Shadows Into Light", cursive;
  font-weight: bold;
}
.degree:focus {
  outline: none;
}
.divider {
  position: relative;
  top: -40px;
  font-size: 16px;
}
.extraInfo {
  font-size: 20px;
  margin-top: 7px;
  margin-bottom: 7px;
}
.city {
  margin-bottom: 0%;
  font-size: 34px;
}
.description {
  margin-bottom: 5px;
  margin-top: 5px;
  font-size: 20px;
}
.timeDate {
   font-size: 20px;
}
.color {
  color: #cd694e;
}
